.formContainer{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formWrapper form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.logo-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.title{
    color: #5d5b8d;
    font-size: 13px;
}
.formWrapper{
    background-color: #fff;
    padding: 20px 60px;
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.logo{
    color: #5d5b8d;
    font-weight: bold;
    font-size: 24px;
}
input{
    padding: 15px;
    border: none;
    width: 250px;
    border-bottom: 1px solid #a7bcff;
    outline: none;
}
input::placeholder{
    color: rgb(175, 175, 175);
}
button{
    /* background-color: #7b96ec;
    color-scheme: #fff;
    padding: 10px; */
    border: none;
    cursor: pointer;
    background: linear-gradient(to left,blue,rgb(0, 255, 149));
    border-radius: 10px ;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
}
p{
    color: #5d5b8d;
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
}
label{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #8da4f1;
    font-size: 12px;
    cursor: pointer;
}
.icon{
   
    font-size: 23px;
}
.home{
    /* background-color: #a7bcff; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left,blue,rgb(0, 255, 149));
    /* border-radius: 10px ;
    padding: 8px;
    font-size: 15px;
    font-weight: bold; */
}
.container{
    /* border: 1px solid #fff; */
    box-shadow: 0 0 15px rgba(145, 137, 137, 10);
    border-radius: 15px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
    background: linear-gradient(to left,rgb(0, 255, 149),blue);
    border-radius: 10px ;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    
}